# config files
.DS_Store
__pycache__/
.ipynb_checkpoints/
.vscode

# file extensions
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.gz
*.zip

# folders
image_classification/feature_backup*
image_classification/test_backup.*
image_classification/train_backup.*
image_classification/Intel Training Dataset/
image_classification/__MACOSX/Intel Training Dataset/
exercises/example_images/
image_classification/graphs/

